<% if renga.place >= 8 and renga.place <= 10 %>
    <span class="koi">
        <%= place_name(renga.place) -%>
    </span>
<% else %>
    <%= place_name(renga.place) -%>
<% end %>

<% if renga.place.modulo(2) == 1 -%>
　　
<% else %>
　　　
<% end %>

<%= renga.body %>　　　

<% if renga.place == 1 and renga.kogyo.hokku_name.present? %>
    <%= renga.kogyo.hokku_name %>
<% else %>
    <%= render partial: "shared/name", locals: {user: User.find(renga.user_id)} %>
<% end %>
<br />