<div class="row">
  <div class="col-md-6 col-md-offset-3 form-group">
    <%= form_for @renga do |f| %>

        <% if @rengas.last.place >= 2 %>
            <b>打越：</b><%= @rengas.last(2).first.body %><br />
        <% end %>
        <b>前句：</b><%= @rengas.last.body %><br />

      <%= f.label :body, "#{place_name(@rengas.last.place + 1)}　付句" %>
      <%= f.text_field :body , class: "form-control" %>
      <%= f.hidden_field :place, value: Kogyo.last.place %>
      <%= f.hidden_field :kogyo_id, value: Kogyo.last.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <% if Kogyo.last.pick_type == 1 %>
        <%= f.hidden_field :picked, value: true %>
      <% end %>
      <%= f.submit "投稿", class: "btn btn-large btn-default" %>
    <% end %>

    <% if current_user.id == @kogyo.user_id and @kogyo.rengas.where(place: @kogyo.place).present? %>
      <%= link_to "付句の選択", rengas_path, class: "btn btn-large btn-default" %>
    <% end %>
    
  </div>
</div>

    


<%= render partial: "kogyos/kasen" , locals: {rengas: @rengas} %>

