<div class="row">
  <div class="col-md-10 col-md-offset-1">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <%= f.label :name, "名前" %>
      <%= current_user.name %><br />

      <%= f.label :grade, "学年" %>
      <%= current_user.grade %>期<br />

      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email , class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード再入力" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>      

      <%= f.label :nickname, "ペンネーム" %>
      <%= f.text_field :nickname , class: "form-control" %>
      
      <%= f.hidden_field :nickname_update, :value => Date.today %>
      
    <% if current_user.admin %>  
      <%= f.check_box :admin %>
      <%= f.label :admin, "管理者" , checked_value: true, unchecked_value: false %>
      
      <%= f.check_box :holder %>
      <%= f.label :holder, "出題者" , checked_value: true, unchecked_value: false %>
      
      <%= f.check_box :contributor %>
      <%= f.label :contributor, "投稿者" , checked_value: true, unchecked_value: false %>

    <% end %>
      
      <br />

      <%= f.submit "プロフィールを更新", class: "btn btn-large btn-default" %>
    </div>  
  </div>  
    <% end %>


<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy?--> <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %><!--</p>-->

<%#= link_to "Back", :back %>

  </div>
</div>