    <% if tanka.selected == true %>
      <tr>
        
        <td><%= link_to tanka.body, tanka %> 
        <span class="badge pull-right"><%= Comment.where(tanka_id: tanka.id, deleted: false).count %></span></td>
        
        
        <td><%= render partial: "shared/namelink", locals: {user: tanka.user} %>
        <%= render partial: "shared/name", locals: {user: tanka.user} %>
        <%= render partial: "shared/gg", locals: {user: tanka.user} %></td>
        
      </tr>
      
      <tr>
        <td>  
            金：<%= tanka.kin_cnt %>
            　蘭：<%= tanka.ran_cnt %>
            　笑：<%= tanka.sho_cnt %>　
            <% if tanka.kin_cnt + tanka.ransho_cnt > 0 %>
              <font size="2" ><%= link_to "投票者一覧", voters_tanka_path(tanka) %></font>
            <% end %>
        </td>  
      </tr>
    <% end %>