<h2>題：「<%= @dai.title %>」</h2>

<div class="container-fluid col-md-offset-1 col-md-10" >

<% if @tankas.count >= 3 %>
    
    <div class="vertical rewarded">
        <p id="seki">一席</p><br />
        <p><%= @tankas.first.body %></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.first.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.first.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.first.user} %></div><br />
        
        <p id="seki">二席</p><br />
        <p><%= @tankas.second.body %></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.second.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.second.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.second.user} %></div><br />
        
        <p id="seki">三席</p><br />
        <p><%= @tankas.third.body %></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.third.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.third.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.third.user} %></div><br /><br />
                
        <p id="seki">蘭</p><br />
        <p><%= @ran_tanka.body %></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @ran_tanka.user} %>
        <%= render partial: "shared/name", locals: {user: @ran_tanka.user} %>
        <%= render partial: "shared/vgg", locals: {user: @ran_tanka.user} %></div><br />
        
        <p id="seki">笑</p><br />
        <p><%= @sho_tanka.body %></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @sho_tanka.user} %>
        <%= render partial: "shared/name", locals: {user: @sho_tanka.user} %>
        <%= render partial: "shared/vgg", locals: {user: @sho_tanka.user} %></div><br /> 
    </div>    

<% else %>

    このお題は３首以上入選しませんでした

<% end %>

入選作一覧
<table class="table table-bordered" id="voted_tanka_list">

  <tbody>

	<%= render @tankas %>

  </tbody>
  
</table>
</div>

