<h2>題：「<%= @dai.title %>」

<% if current_user == @dai.user %>
    <%= link_to "講評", edit_dai_path(@dai) , class: "btn btn-large btn-default" %>
<% end %>

<% if current_user.admin or @dai.user == current_user %>
  <%= link_to "作品一覧をCSV形式でダウンロード", tankas_path(format: "csv", dai_id: @dai.id) , class: "btn btn-large btn-default" %>
<% end %>

</h2>

<div class="container-fluid col-md-offset-1 col-md-10" >

<% if @tankas.count >= 3 %>
    
    <div class="vertical rewarded">
        <p id="seki">天</p><br />
        <p><span class="min"><%= @tankas.first.body %></span></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.first.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.first.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.first.user} %></div><br />
        
        <p id="seki">地</p><br />
        <p><span class="min"><%= @tankas.second.body %></span></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.second.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.second.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.second.user} %></div><br />
        
        <p id="seki">人</p><br />
        <p><span class="min"><%= @tankas.third.body %></span></p>
        <div align="right"><%= render partial: "shared/namelink", locals: {user: @tankas.third.user} %>
        <%= render partial: "shared/name", locals: {user: @tankas.third.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tankas.third.user} %></div><br /><br />

        <% if @ran_tanka.ran_cnt > 0 %>            
            <p id="seki">蘭</p><br />
            <p><span class="min"><%= @ran_tanka.body %></span></p>
            <div align="right"><%= render partial: "shared/namelink", locals: {user: @ran_tanka.user} %>
            <%= render partial: "shared/name", locals: {user: @ran_tanka.user} %>
            <%= render partial: "shared/vgg", locals: {user: @ran_tanka.user} %></div><br />
        <% end %>
        
        <% if @sho_tanka.sho_cnt > 0 %>    
            <p id="seki">笑</p><br />
            <p><span class="min"><%= @sho_tanka.body %></span></p>
            <div align="right"><%= render partial: "shared/namelink", locals: {user: @sho_tanka.user} %>
            <%= render partial: "shared/name", locals: {user: @sho_tanka.user} %>
            <%= render partial: "shared/vgg", locals: {user: @sho_tanka.user} %></div><br /> 
        <% end %>
    </div>    

<% else %>

    このお題は３首以上入選しませんでした

<% end %>

<% if @dai.comment2.present? %>

    <br /><br /><div class="col-md-offset-2 col-md-8 review">
        出題者
        <%= render partial: "shared/namelink", locals: {user: @dai.user} %>
        <%= render partial: "shared/name", locals: {user: @dai.user} %>
        <%= render partial: "shared/gg", locals: {user: @dai.user} %>
        さんからのコメント：<br />
        <%= @dai.comment2 %>
        </div><br />

<% end %>

<div class="col-md-offset-2 col-md-8 inst">

    ※金賞が多い順に「天・地・人」となっています。<br />
    　蘭賞・笑賞が一番多かった作品をそれぞれ「蘭」「笑」で讃えます。<br />
    　ちなみに、票数が同じ場合は、早く出した順で判定されます

</div>

<div class="col-md-offset-2 col-md-8 inst">

    ※ペンネームの場合とそうでない場合で、作者の名前の表示色が変わります。
    （中高生だとふざけて、友人の名をかたる手合いも出るためです）
    作った作品は「歌の履歴」に蓄積されていきます。
    名前の横の「■」を押すと、そのユーザーのページにリンクします。
    他の人に見せたくない作品がある場合は、自分の「歌の履歴」のページから
    「隠す」を押して下さい。

</div>

<div class="col-md-12">
入選作一覧
<table class="table table-bordered" id="voted_tanka_list">

  <tbody>

	<%= render @tankas %>

  </tbody>
  
</table>

</div>
</div>

