<div class="col-md-offset-2 col-md-8 inst">

※検索の対象になるのは、投票が終了していて、「公開」に設定されている作品のみです。

</div>

<div class="container-fluid col-md-12">

<b>検索</b>

<%= search_form_for @q, :url => look_for_tankas_path do |f| %>

    <div class="form-group col-md-5">

          <%# start 特定の文字列で始まる商品名で検索 %>
          <%= f.label :body_cont, "作品に含まれる単語" %>
          <%= f.search_field :body_cont , class: "form-control" %>
          <br />

      <%= f.label :dai_genre_eq , "種類" %>
      <label><%= f.radio_button :dai_genre_eq, "", {:checked=>true} %>指定なし</label>      
      <label><%= f.radio_button :dai_genre_eq, "0" %>短歌</label>
      <label><%= f.radio_button :dai_genre_eq, "1" %>俳句</label>
      <label><%= f.radio_button :dai_genre_eq, "2" %>川柳</label>
      <label><%= f.radio_button :dai_genre_eq, "3" %>都々逸</label>
      <label><%= f.radio_button :dai_genre_eq, "4" %>その他</label>
      <br /><br />

          <%= f.submit "検索", class: "btn btn-large btn-default" %>

    </div>
    
<% end %>

</div>

<hr>

<div class="container-fluid col-md-12">
    
<%= "全#{@tankas_all.count}件" %>

<%= paginate @tankas %>    
    
<table class="table table-bordered">

  <thead>
    <tr>
      <th class="col-md-2">題</th>
      <th class="col-md-5">作品（コメント数）</th>
      <th class="col-md-2">作者</th>
      <th class="col-md-1">作成</th>
      <th class="col-md-2">賞</th>
    </tr>
  </thead>
    
    <% @tankas.each do |t| %>

            <tr>    
        
                <td>
                    「<%= link_to shorten(t.dai.title,10), t.dai %>」
                </td>
            
                <td>
                    <%= link_to t.body, t %> 
                </td>
                <td>
                    <%= render partial: "shared/namelink", locals: {user: t.user} %>                     
                    <%= render partial: "shared/name", locals: {user: t.user} %> 
                </td>
                <td>
                    <%= t.updated_at.strftime("%y/%-m/%-d") %> 
                </td>
                <td>
                    <% if t.dai.fase == 3 and t.selected %>
                        金<%= t.kin_cnt %> 
                        蘭<%= t.ran_cnt %> 
                        笑<%= t.sho_cnt %>
                        <% if t.kin_cnt + t.ransho_cnt > 0 %>
                          <font size="2"><%= link_to "一覧", voters_tanka_path(t) %></font>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        
    <% end %>
        
</table>    
</div>
