<h1>投稿</h1>

<div class="panel panel-default daipanel">
	<div class="panel-heading">
		題：「<%= @dai.title %>」<span class="red">（<%=@dai.genre_name %>）</span>
	</div>
	<div class="panel-body">
		<%= simple_format(@dai.comment) %>
		<br />
		出題：<%= render partial: "shared/name", locals: {user: @dai.user} %>
		<%= render partial: "shared/gg", locals: {user: @dai.user} %>
	</div>
	<div class="panel-footer">
        <% if @dai.due.nil? %>
            締切設定なし
        <% else %>    
            締切：　<%= @dai.due.to_s(:wa) %>
        <% end %>
	</div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3 form-group">
    <%= form_for @tanka do |f| %>

      <b>作品（記名は不要です）：</b><span class="red"><%= f.label :body, @dai.genre_name2 %></span>
      <%= f.text_field :body , class: "form-control" %>
      <%= f.hidden_field :dai_id, value: @dai_id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :exposed, value: true %>

      <%= f.submit "投稿", class: "btn btn-large btn-default" %>
    <% end %>
  </div>
</div>