<div class="container-fluid col-md-offset-2 col-md-6">

<h4>題：「<%= link_to @tanka.dai.title, @tanka.dai %>」</h4>
<% if @tanka.kin_cnt + @tanka.ransho_cnt > 0 %>
    金：<%= @tanka.kin_cnt %>　
    蘭：<%= @tanka.ran_cnt %>　
    笑：<%= @tanka.sho_cnt %>　
    <%= link_to "投票者一覧", voters_tanka_path(@tanka) %>
<% end %>
<hr>

<% if @tanka.issens.count > 0 %>

<div>
    この短歌には<%= @tanka.issens.count %>枚の一撰評がついています<br />
	<%= link_to "一撰評を見る", issens_path(tanka_id: @tanka.id) , class: "btn btn-sm btn-default" %>    
</div>

<hr>

<% end %>

<%= form_for @comment do |f| %>

    <%= f.text_area :body, :size=>"50x3" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :tanka_id, :value => @tanka.id %>
    <%= f.submit "コメントを投稿（140字まで）", class: "btn btn-sm btn-default" %>

<% end %>

<% if @comments.count > 0 %>
<div class="comment_role">

    <hr class="style-one">
    <%= render @comments %>

</div>
<% end %>

</div>
<div class="container-fluid col-md-2">
    <% if current_user.admin %>
		<%= link_to "編集", edit_tanka_path(id: @tanka.id , dai_id: @tanka.dai.id) , class: "btn btn-sm btn-warning" %>
	<% end %>
    <% if (current_user.admin or current_user.grade == 99 or @tanka.dai.user == current_user) and @tanka.user != current_user %>
        <% if @tanka.issens.where('user_id = ?', current_user.id).present? %>
        	<%= link_to "一撰（推敲）", edit_issen_path(tanka_id: @tanka.id) , class: "btn btn-sm btn-warning" %>
        <% else %>
        	<%= link_to "一撰", new_issen_path(tanka_id: @tanka.id) , class: "btn btn-sm btn-warning" %>
        <% end %>
    <% end %>
    <div class="vertical onetanka" >
        <p><%= @tanka.body %></p>
        <p Align="right"><%= render partial: "shared/namelink", locals: {user: @tanka.user} %>
            <%= render partial: "shared/name", locals: {user: @tanka.user} %>
        <%= render partial: "shared/vgg", locals: {user: @tanka.user} %></p>
    </div>
</div>