<div class="container-fluid col-md-offset-3 col-md-6 invitation" >

    <p>題名：<%= @invitation.subject %></p>
    <p>本文：<%= @invitation.body %></p>

    <div class = "right_btn">
        <%= link_to "編集", edit_invitation_path(:id => @invitation.id) , class: "btn btn-large btn-default" %>
        <%= link_to "送信", mysend_invitations_path(:id => @invitation.id) , class: "btn btn-large btn-default" %>
    </div>

</div>    

<div class="container-fluid col-md-offset-1 col-md-10" >

<%#= page_entries_info @users %>    

<%= "全#{@users_all.count}件" %>

    <%= paginate @users %>
    
<table class="table table-condensed">
    
<tr><th>ID</th><th>名前</th><th>最終ログイン</th><th>最終メール</th><th></th></tr>
<%= render partial: 'mailuser', collection: @users , as: :user %>
</table>

<hr>

<b>検索</b>

<%= search_form_for @q do |f| %>

    <div class="form-group col-md-4">

          <%# start 特定の文字列で始まる商品名で検索 %>
          <%= f.label :name_cont, "名前" %>
          <%= f.search_field :name_cont , class: "form-control" %>
          <br />
        
          <%= f.label :nickname_cont, "ペンネーム" %>
          <%= f.search_field :nickname_cont , class: "form-control" %>
          <br />
          
          <%= f.label :grade_eq , "学年" %>
          <%= f.search_field :grade_eq , class: "form-control" %>
          <br />
        
          <%= f.label :gender_eq , "性別" %>
          <label><%= f.radio_button :gender_eq , "" %>指定なし</label>
          <label><%= f.radio_button :gender_eq , "1" %>男</label>
          <label><%= f.radio_button :gender_eq , "2" %>女</label><br />
        
          <%= f.submit "検索", class: "btn btn-large btn-default" %>

    </div>

<% end %>

</div>