<h2><%= render partial: "shared/name", locals: {user: @user} %>
<%= render partial: "shared/gg", locals: {user: @user}%>さんの歌 
<% if @user == current_user and @user.soultanka_id.present? %>
    <%= link_to "自撰を取り下げる" , unsoul_tanka_path , class: "btn btn-sm btn-default" %>
<% end %></h2>



<div class="container-fluid col-md-12">
    <div class="vertical col-md-offset-5 col-md-2">
        <% if @user.soultanka_id.present? %>
                自撰　題「<%=@soultanka.dai.title %>」<br />
                <p><%= @soultanka.body %></p>
        <% end %>
        <% if @best_tanka.present? %>
                 <br />代表作　題「<%=@best_tanka.dai.title %>」<br />
                <p><%= @best_tanka.body %></p>
        <% end %>
        <% if !@best_tanka.present? and ! @user.soultanka_id.present? %>
                 <br />（自撰・代表歌の掲示はありません）<br />
        <% end %>
        
    </div>

<table class="table table-bordered">

  <thead>
    <% if @user == current_user %>
    <tr>
      <th class="col-md-2">題</th>
      <th class="col-md-5">作品（コメント数）</th>
      <th class="col-md-1">作成</th>
      <th class="col-md-2">賞</th>
      <th class="col-md-2">公開設定</th>
    </tr>
    <% else %>
    <tr>
      <th class="col-md-3">題</th>
      <th class="col-md-6">作品（コメント数）</th>
      <th class="col-md-1">作成</th>
      <th class="col-md-2">賞</th>
    </tr>    
    <% end %>
    
  </thead>
    
    <% @tankas.each do |t| %>

        <% if (t.dai.fase == 3 and t.exposed == true) or current_user == @user %>
        
            <tr>    
        
                <td>
                    <% if @user == current_user %>
                    「<%= link_to shorten(t.dai.title,6), t.dai %>」
                    <% else %>
                    「<%= link_to shorten(t.dai.title,12), t.dai %>」
                    <% end %>
                </td>
            
                <td>
                    
                    <%= link_to t.body, t %> 
                    <span class="badge pull-right"><%= Comment.where(tanka_id: t.id, deleted: false).count %></span>
                </td>
                <td>
                    
                    <%= t.updated_at.strftime("%-m/%-d") %> 
                
                </td>
                <td>
                    <% if t.dai.fase == 3 and t.selected %>
                        金<%= t.kin_cnt %> 
                        蘭<%= t.ran_cnt %> 
                        笑<%= t.sho_cnt %>
                        <% if t.kin_cnt + t.ransho_cnt > 0 %>
                          <font size="2"><%= link_to "一覧", voters_tanka_path(t) %></font>
                        <% end %>
                    <% end %>
                </td>
                <% if t.user == current_user %>
                <td>    
                        <% if t.exposed == true %>
                            <% if t.id == current_user.soultanka_id %>
                            
                                自撰済み
                            
                            <% else %>
                            
                                <%= link_to "自撰", soul_tanka_path(id: t) %>
                        
                            <% end %>
                        <% end %>
                        
                        <% if t.exposed == true %>
                        
                            <%= link_to "隠す", expose_tanka_path(id: t) %>
                        
                        <% else %>
                        
                            <%= link_to "公開する", expose_tanka_path(id: t) %>
                    
                        <% end %>
                    
                    </td><% end %>
            
            </tr>
        
        <% end %>
        
    <% end %>

</table>    
</div>