<% if user_signed_in? %>

  <% if Issen.count > 0 %>
  <div class="container-fluid col-md-offset-2 col-md-8 issen">
    
    《一撰評》<br />
    <p><%= simple_format(@issen.body) %></p>
    <p class="text-right">評：<%= render partial: "shared/name", locals: {user: @issen.user} %></p>
  </div>
  <% end %>

<div class="container-fluid col-md-offset-1 col-md-8"  style="height:600px; overflow:auto;">

<div class="col-md-offset-2 col-md-8 emer">

※「ふくしま再生プロジェクト」とのコラボお題、本日締切です。
投稿の際併記していただいているお名前・おところは、データ上ではカットする予定です。
カットの作業を待って公開したい場合は、作品の公開設定を「隠す」にしておいてください。

</div>

<div class="col-md-offset-2 col-md-8 inst">

※投稿していないお題にも投票できます。
感覚をゆっくり戻したいという方は、投票だけでも、どうぞ。<br />
慣れてきたみなさんは、そろそろ出題も、いかがでしょうか。

</div>

  <div class="col-md-12">
    新着お題一覧
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-5">題（投稿数）</th>
      <th class="col-md-3">状態</th>
      <th class="col-md-3">締切</th>
  </thead>

  <tbody>

	<%= render @dais %>

  </tbody>
</table>
  </div>
</div>

<div class="vertical onetanka issen col-md-2">
  <% if Issen.count > 0 %>
    <br /><br />
      <p>《
      <% if @issen.tanka.exposed or @issen.tanka.user == current_user %>
      <%= link_to "一撰" , @issen.tanka %>
      <% else %>
      一撰
      <% end %>
      》</p>
      <p>　<%= @issen.tanka.body %></p>
      <% if @issen.tanka.exposed %>
        <p Align="right"><%= render partial: "shared/namelink", locals: {user: @issen.tanka.user} %>
        <%= render partial: "shared/name", locals: {user: @issen.tanka.user} %>
        <%= render partial: "shared/vgg", locals: {user: @issen.tanka.user} %></p>
      <% end %>
  <% else %>
    「一撰」欄は、出題者たちが特に紹介したい一首を掲載します。
  <% end %>
</div>


<% else %>

<div class="container-fluid col-md-offset-2 col-md-8" id="toptitle">

<p>KAKAIは、オンラインで歌会をひらくためのサイトです。</p>

</div>

<% end %>