<% if user_signed_in? %>

  <% if Issen.count > 0 %>
  <div class="container-fluid col-md-offset-2 col-md-8 issen">
    
    《一撰評》<br />
    <p><%= simple_format(@issen.body) %></p>
    <p class="text-right">評：<%= render partial: "shared/name", locals: {user: @issen.user} %></p>
  </div>
  <% end %>

<div class="container-fluid col-md-offset-1 col-md-8"  style="height:600px; overflow:auto;">

<div class="col-md-offset-2 col-md-8 emer">

    ※「あいさつの歌」投稿期間が終わり、投票ができるようになっています。
    今回は、投稿していない人も投票できるので、ぜひみなさん作品を見に来てください。
    投稿した人は、画面上部に「お知らせ」が出ていると思いますので、
    こちらもご確認ください。

</div>

<div class="col-md-offset-2 col-md-8 inst">

※投稿者が「投票期間前の投稿作品」を削除できるように仕様を変更しました<br />
※出題者が「投稿作品がつく前のお題」を削除できるように仕様を変更しました

</div>

  <div class="col-md-12">
    新着お題一覧
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-5">題（投稿数）</th>
      <th class="col-md-2">状態</th>
      <th class="col-md-4">締切</th>
  </thead>

  <tbody>

	<%= render @dais %>

  </tbody>
</table>
  </div>
</div>

<div class="vertical onetanka issen col-md-2">
  <% if Issen.count > 0 %>
    <br /><br />
      <p>《
      <% if @issen.tanka.exposed or @issen.tanka.user == current_user %>
      <%= link_to "一撰" , @issen.tanka %>
      <% else %>
      一撰
      <% end %>
      》</p>
      <p>　<%= @issen.tanka.body %></p>
      <% if @issen.tanka.exposed %>
        <p Align="right"><%= render partial: "shared/namelink", locals: {user: @issen.tanka.user} %>
        <%= render partial: "shared/name", locals: {user: @issen.tanka.user} %>
        <%= render partial: "shared/vgg", locals: {user: @issen.tanka.user} %></p>
      <% end %>
  <% else %>
    「一撰」欄は、出題者たちが特に紹介したい一首を掲載します。
  <% end %>
</div>


<% else %>

<div class="container-fluid col-md-offset-2 col-md-8" id="toptitle">

<p>KAKAIは、オンラインで歌会をひらくためのサイトです。</p>

</div>

<% end %>