<div class="container-fluid col-md-offset-2 col-md-8">

    <div class="col-md-12">
    
        ※機能の不具合や改善の要望などお寄せ下さい。
    
    </div>

    <b>from:</b>　<%= current_user.name%>(<%= current_user.email%>)

    <%= form_tag("/inquiry", method: "post") do %>
    <div class="form-group">
      <%= hidden_field_tag :name, current_user.name %>
      <%= hidden_field_tag :email, current_user.email %>
      <%= label_tag(:body, "送信内容:") %><br />
      <%= text_area_tag :body, "" , :maxlength => "2000" ,class: "form-control" %>
      <%= submit_tag "送信", class: "btn btn-large btn-default" %>
    </div>
    <% end %>

</div>