<h1>連歌興行</h1>

    <%= render 'shared/em', error_messages: @error_messages %>

<div class="container-fluid col-md-12">

  <div class="col-md-6 col-md-offset-3">
    
      
    <%= form_for @kogyo do |f| %>

    <div class="form-group">
      
      <div class ="col-md-12">
        <%= fields_for @renga do |c| %>
          <%= c.label :body, "発句" %>
          <%= c.text_field :body , class: "form-control" %>
          <%= c.hidden_field :user_id, value: current_user.id %>
          <%= c.hidden_field :place, value: 1 %> 
          <%= c.hidden_field :picked, value: true %>
        <% end %>      
        
        <label>発句の季節</label>
        <label><%= f.radio_button :season, "0", {:checked=>true} %>春</label>
        <label><%= f.radio_button :season, "1" %>夏</label>
        <label><%= f.radio_button :season, "2" %>秋</label>
        <label><%= f.radio_button :season, "3" %>冬</label>
        <br /><br />
      </div>

      <div class ="col-md-8">
        <%= f.label :hokku_name, "発句の作者（自分で詠んだ場合は空欄のままで）" %>
        <%= f.text_field :hokku_name , class: "form-control" %>
        <br />
      </div>
      
      <div class="col-md-12">
        <label>付句の決定</label>
        <label><%= f.radio_button :pick_type, "0", {:checked=>true} %>亭主の撰</label>
        <label><%= f.radio_button :pick_type, "1" %>出勝（早い者勝ち）</label>
        <label><%= f.radio_button :pick_type, "2" %>投票</label>
        <br /><br />
      </div>  
      
      <div class="col-md-12">
        <%= f.label :next_due, "脇句締切" %>
        <%= f.datetime_select(
            :next_due,
            start_year: Time.zone.now.year,
            end_year:   (Time.zone.now.year + 1),
            default:    Time.zone.today + 2,
            minute_step: 10 ) %>
        <br /><br />
      </div>
      
      <div class="col-md-6">
        <%= f.label :thinking_hour, "脇句決定以降締切は" %>
        <div class="form-inline">
          <%= f.text_field :thinking_hour , class: "form-control hours" %>時間ごと
        </div>
        <br />
      </div>
      
      <div class="col-md-12">
          <%= f.hidden_field :user_id, value: current_user.id %>  
          <%= f.hidden_field :place, value: 2 %>
          <%= f.hidden_field :notice, value: "★　「七七」で付句をします。
★　脇句は、発句とワンセットになるよう、内容をある程度近づけます。
★　発句と季節を揃えます。
★　最後は名詞にします（体言止め）。
★　俳句ではないので、「や」「かな」「けり」など、切れ字は用いません。" %>
          <%= f.hidden_field :next_notice, value: "★　「五七五」で付句をします。
★　発句が春か秋の場合は、同じ季節で、夏か冬の場合は無季とします。
★　発句と内容がかぶらないようにします。
★　「て」「に」「にて」「らん」「もなし」で終わらせます。
★　俳句ではないので、「や」「かな」「けり」など、切れ字は用いません。" %>
          <%= f.submit "連歌を始める", class: "btn btn-large btn-default" %>
      </div>

        </div>
    </div>
    
        <% end %>
    

  </div>
</div>