<script type="text/JavaScript">  
function connectcheck( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら有効化
      document.getElementById("dai_due_1i").disabled = true;
      document.getElementById("dai_due_2i").disabled = true;
      document.getElementById("dai_due_3i").disabled = true;
      document.getElementById("dai_due_4i").disabled = true;
      document.getElementById("dai_due_5i").disabled = true;
   }
   else {
      // チェックが入っていなかったら無効化
      document.getElementById("dai_due_1i").disabled = false;
      document.getElementById("dai_due_2i").disabled = false;
      document.getElementById("dai_due_3i").disabled = false;
      document.getElementById("dai_due_4i").disabled = false;
      document.getElementById("dai_due_5i").disabled = false;      
   }
}
function connectcheck2( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら無効化
      document.getElementById("grades_").disabled = true;
   }
   else {
      // チェックが入っていなかったら有効化
      document.getElementById("grades_").disabled = false;
   }
}
function connectcheck3( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら有効化
      document.getElementById("dai_v_due_1i").disabled = true;
      document.getElementById("dai_v_due_2i").disabled = true;
      document.getElementById("dai_v_due_3i").disabled = true;
      document.getElementById("dai_v_due_4i").disabled = true;
      document.getElementById("dai_v_due_5i").disabled = true;
   }
   else {
      // チェックが入っていなかったら無効化
      document.getElementById("dai_v_due_1i").disabled = false;
      document.getElementById("dai_v_due_2i").disabled = false;
      document.getElementById("dai_v_due_3i").disabled = false;
      document.getElementById("dai_v_due_4i").disabled = false;
      document.getElementById("dai_v_due_5i").disabled = false;      
   }
}
</script>
<h2>出題管理</h2>

    <%= render 'shared/em', error_messages: @error_messages %>

<div class="container-fluid col-md-12">

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @dai do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

     <h4> 題：「<%= @dai.title %>」（<%= @dai.genre_name %>）</h4><br />

        <% if @dai.fase == 1 %>
          <%= f.label :comment, "コメント" %>
          <%= f.text_area :comment , :maxlength => "400" , :size => "20x10" ,class: "form-control" %>
          <br />
        <% end %>

        <%= f.label :due, "投稿締切" %>
        <%= f.datetime_select(
            :due,
            start_year: Time.zone.now.year,
            end_year:   (Time.zone.now.year + 1),
            include_blank: true,
            minute_step: 10) %>
      <label><input type="checkbox" name="no_due" value="checked" onclick="connectcheck(this.checked);" />締切を設定しない</label>
      <br />
      
        <%= f.label :due, "投票締切" %>
        <%= f.datetime_select(
            :v_due,
            start_year: Time.zone.now.year,
            end_year:   (Time.zone.now.year + 1),
            include_blank: true,
            minute_step: 10) %>
      <label><input type="checkbox" name="no_due2" value="checked" onclick="connectcheck3(this.checked);" />締切を設定しない</label>
      <br /><br />

        <%= f.label :target_grade, "投稿制限（学年）" %><%= " 設定なし" if @dai.target_grade== "0" %>
        <%= @dai.target_grade if @dai.target_grade != "0" %>
      <br />
        <%= f.label :target_grade, "投稿制限（性別）" %>
        <% case @dai.target_gender %>
        <% when 1 %>
            男子のみ
        <% when 2 %>
            女子のみ
        <% else %>
            設定なし
        <% end %><br /><br />
        
      <%= f.check_box :all_select %>
      <%= f.label :all_select, "全投稿作品を投票の対象にする" , checked_value: true, unchecked_value: false %>

      <%= f.check_box :vote_closed %>
      <%= f.label :vote_closed, "投票できるのは投稿者だけ" , checked_value: true, unchecked_value: false %>

        <% if @dai.fase == 2 and @dai.selecting == false %>
          <br /><br /><%= f.label :comment2, "投票後のコメント（講評）" %>
          <%= f.text_area :comment2 , :maxlength => "2000" , :size => "20x10" ,class: "form-control" %>
          <br />
        <% end %>

    <br /><%= f.submit "更新", class: "btn btn-large btn-default" %>
        <%= f.submit "投稿を締め切る", class: "btn btn-sm btn-warning" if @dai.fase == 1 and @dai.all_select %>
        <%= f.submit "入選歌を確定し、投稿を締め切る", class: "btn btn-sm btn-warning" if @dai.fase == 1 and @dai.all_select == false %>
        <%= link_to "入選歌を確定する", proceed_dai_path(@dai) , class: "btn btn-sm btn-warning" if @dai.fase == 2 and @dai.selecting == true %>
        <%= f.submit "投票を締め切る", class: "btn btn-sm btn-warning" if @dai.fase == 2 and @dai.selecting == false %>
    
        <% end %>
    

  </div>
</div>
</div>

<div class="container-fluid col-md-offset-1 col-md-10">

<br />ここまでの投稿歌<%= "はありません" if @tankas.count == 0 %>

<table class="table table-bordered" id="t">

    <% @tankas.each do |t| %>

            <tr>    
        
                <td>
                    
                    <%= link_to t.body, t %> 
                
                </td>
                
                <td>
                        <% if t.selected == true %>
                        
                            <%= link_to "入選", select_tanka_path(id: t.id.to_s, dai_id: params[:id]), :style=>"color:red;" %>
                        
                        <% else %>
                        
                            <%= link_to "落選", select_tanka_path(id: t.id.to_s, dai_id: params[:id]), :style=>"color:#999;" %>
                    
                        <% end %>
                </td>
                
            </tr>
            
        
    <% end %>

</table>    
</div>