<script type="text/JavaScript">  
function connectcheck( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら有効化
      document.getElementById("dai_due_1i").disabled = true;
      document.getElementById("dai_due_2i").disabled = true;
      document.getElementById("dai_due_3i").disabled = true;
      document.getElementById("dai_due_4i").disabled = true;
      document.getElementById("dai_due_5i").disabled = true;
   }
   else {
      // チェックが入っていなかったら無効化
      document.getElementById("dai_due_1i").disabled = false;
      document.getElementById("dai_due_2i").disabled = false;
      document.getElementById("dai_due_3i").disabled = false;
      document.getElementById("dai_due_4i").disabled = false;
      document.getElementById("dai_due_5i").disabled = false;      
   }
}
function connectcheck2( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら無効化
      document.getElementById("grades_").disabled = true;
   }
   else {
      // チェックが入っていなかったら有効化
      document.getElementById("grades_").disabled = false;
   }
}
function connectcheck3( ischecked ) {
   if( ischecked == true ) {
      // チェックが入っていたら有効化
      document.getElementById("dai_v_due_1i").disabled = true;
      document.getElementById("dai_v_due_2i").disabled = true;
      document.getElementById("dai_v_due_3i").disabled = true;
      document.getElementById("dai_v_due_4i").disabled = true;
      document.getElementById("dai_v_due_5i").disabled = true;
   }
   else {
      // チェックが入っていなかったら無効化
      document.getElementById("dai_v_due_1i").disabled = false;
      document.getElementById("dai_v_due_2i").disabled = false;
      document.getElementById("dai_v_due_3i").disabled = false;
      document.getElementById("dai_v_due_4i").disabled = false;
      document.getElementById("dai_v_due_5i").disabled = false;      
   }
}
</script>
<h1>出題</h1>

    <%= render 'shared/em', error_messages: @error_messages %>

<div class="container-fluid col-md-12">

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
      
    <%= form_for @dai do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
      <%= f.label :title, "題" %>
      <%= f.text_field :title , class: "form-control" %>
      
      <br /><label>種類</label>
      <label><%= f.radio_button :genre, "0", {:checked=>true} %>短歌</label>
      <label><%= f.radio_button :genre, "1" %>俳句</label>
      <label><%= f.radio_button :genre, "2" %>川柳</label>
      <label><%= f.radio_button :genre, "3" %>都々逸</label>
      <label><%= f.radio_button :genre, "4" %>その他</label>
      <br /><br />

      <%= f.label :comment, "コメント" %>
      <%= f.text_area :comment , :maxlength => "400" , :size => "20x10" ,class: "form-control" %>
      <br />

        <%= f.label :due, "投稿締切" %>
        <%= f.datetime_select(
            :due,
            start_year: Time.zone.now.year,
            end_year:   (Time.zone.now.year + 1),
            default:    Time.zone.today + 3,
            minute_step: 10 ) %>
      <label><input type="checkbox" name="no_due" value="checked" onclick="connectcheck(this.checked);" />締切を設定しない</label>
      <br />
      
        <%= f.label :due, "投票締切" %>
        <%= f.datetime_select(
            :v_due,
            start_year: Time.zone.now.year,
            end_year:   (Time.zone.now.year + 1),
            default:    Time.zone.today + 6,
            minute_step: 10 ) %>
      <label><input type="checkbox" name="no_due2" value="checked" onclick="connectcheck3(this.checked);" />締切を設定しない</label>
      <br /><br />

    <div class="col-md-6 last-row">
          <label title="ctrlを押しながらで複数選択可能">投稿制限（学年）</label> 
          <%= select_tag "grades[]", 
            options_for_select(six_year_array, @selected ),
            {:multiple => true, :size =>6 } %>
          <label><input type="checkbox" name="no_target" onclick="connectcheck2(this.checked);" />学年制限なし</label>
      <br />
    </div>
    
    <div class="col-md-6">
      
      <label>投稿制限（性別）</label>
      <label><%= f.radio_button :target_gender, "0", {:checked=>true} %>なし</label>
      <label><%= f.radio_button :target_gender, "1" %>男</label>
      <label><%= f.radio_button :target_gender, "2" %>女</label>
      <br />
    
          <%= f.hidden_field :user_id, value: current_user.id %>

    </div>

    <div class="col-md-12">

      <%= f.check_box :all_select %>
      <%= f.label :all_select, "全投稿作品を投票の対象にする" , checked_value: true, unchecked_value: false %>

      <%= f.check_box :vote_closed %>
      <%= f.label :vote_closed, "投票できるのは投稿者だけ" , checked_value: true, unchecked_value: false %>


    <br /><%= f.submit "出題", class: "btn btn-large btn-default" %>

        </div>
    </div>
    
        <% end %>
    

  </div>
</div>
</div>