<div class="panel panel-default" id="daipanel">
	<div class="panel-heading">
		題：「<%= @dai.title %>」
		
		<% if @dai.target_grade != "0" %>
		
			<font color="#ff00000">学年制限：<%= @dai.target_grade %></font>
		
		<% end %>
		
		<% if @dai.target_gender == 1 %>
		
			<font color="#ff00000">男子のみ</font>
		
		<% end %>

		<% if @dai.target_gender == 2 %>
		
			<font color="#ff00000">女子のみ</font>
		
		<% end %>
		
	</div>
	<div class="panel-body">
		<%= @dai.comment %>
		<br />
		<% if @dai.user.present? %>
		出題：<%= render partial: "shared/name", locals: {user: @dai.user} %>
		<%= render partial: "shared/gg", locals: {user: @dai.user} %>
		<% end %>
	</div>
	<div class="panel-footer">
        <% if @dai.due.nil? %>
            締切設定なし
        <% else %>    
            締切：　<%= @dai.due.to_s(:wa) %>
        <% end %>
	</div>
</div>

<div class="col-md-10 col-md-offset-2">

	<% if current_user.tankas.where(dai_id: @dai.id).present? %>
		投稿済：　<b><%= current_user.tankas.where(dai_id: @dai.id).take.body %></b><br /><br />
	<% end %>
	
</div>

<div class="col-md-4 col-md-offset-8">
	
<% if @dai.fase == 1 %>
	<% if current_user.tankas.where(dai_id: @dai.id).present? %>
		<%= link_to "推敲", edit_tanka_path(id: current_user.tankas.where(dai_id: @dai.id).first.id , dai_id: @dai.id) , class: "btn btn-sm btn-default" %>
	<% else %>
		<%= link_to "投稿", new_tanka_path(:dai_id => @dai.id) , class: "btn btn-sm btn-default" %>
	<% end %>
<% end %>
<% if @dai.fase == 2 %>
	<%= link_to "投票", vote_dai_path , class: "btn btn-sm btn-default" %>
<% end %>
<% if @dai.fase == 3 %>
	<%= link_to "一覧", tankas_path(:dai_id => @dai.id) , class: "btn btn-sm btn-default" %>
<% end %>
	<%= link_to "戻る", root_path, class: "btn btn-sm btn-default" %>
<% if (@dai.user == current_user or current_user.admin) and @dai.fase < 3 %>
	&nbsp;<%= link_to "管理", edit_dai_path(@dai.id) , class: "btn btn-sm btn-warning" %>
<% end %>

</div>