<div class="container-fluid">
    <%= render 'shared/em', error_messages: @error_messages %>    
    <div class="col-md-10 col-md-offset-2">
        「<span class="min"><%= @tanka.body%></span>」への一撰評<br />
        
        <%= form_for @issen do |f| %>
            <div class="form-group">
                <div class="col-md-8">        
                    <%= f.text_area :body, class: "form-control" %>
                    <%= f.hidden_field :tanka_id, :value => tanka.id %><br />
                    <span class="red">※「匿名希望」となるかもしれないので、作者の名前を入れずに書いてください</span><br />
                    <%= f.submit "一撰評を投稿（800字まで）", class: "btn btn-sm btn-default" %>

        <% end %>
        
        <% if @tanka.issens.where('user_id = ?', current_user.id).present? %>
            <%= link_to "削除" , @issen , method: :delete, class: "btn btn-sm btn-default", data: { confirm: '削除してもよろしいですか？' } %>
        <% end %>

                </div>
            </div>

    </div>
</div>