<div class="container-fluid">
    <%= render 'shared/em', error_messages: @error_messages %>    
    <div class="col-md-10 col-md-offset-2">

        <%= form_for @invitation do |f| %>
            <div class="form-group">
                <div class="col-md-8">
                    <%= f.text_field :subject, class: "form-control" %>        
                    <%= f.text_area :body, class: "form-control" %>

                    <%= f.submit "確定", class: "btn btn-sm btn-default" %>

        <% end %>

                </div>
            </div>

    </div>
</div>